html,body,div,span,h1,h2,h3,h4,h5,h6,p,address,em,img,q,strong,b,i,dl,dt,dd,ol,ul,li,form,table,caption,tbody,tfoot,thead,tr,th,td,article,footer,header,hgroup,menu,nav,section{margin:0;padding:0;border:0}
img{vertical-align:top;}
em,strong,a{text-decoration:none;font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}




